
.App{
  margin: 0 0 5rem 0;
  align-items: center;
  justify-content: center;
}


.table{
  text-align: center;
  margin: 5rem ;
  background-color: rgb(99, 255, 107);
  padding: 10px;
  box-shadow: 0 0 10px black;
}
.table tr,th,td{
  border: 1px solid black;
  padding: 10px;

}
.pagination{
  width: 30%;
  display: flex;
  text-align: center;
  margin: 3rem 0  3rem 8rem;
  padding: 10px;
  background-color: rgb(248, 241, 254);
  box-shadow: 0 0 10px rgb(143, 143, 143);
}
.pagination > span{
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
}
.s{
  background-color: rgb(170, 177, 186);
}
input{
  margin: 1rem 0 0 5rem ;
  padding: 10px;
  width: 35%;
  background-color: rgb(248, 241, 254);
  box-shadow: 0 0 10px rgb(143, 143, 143);
  border: none;
}
h1{
  margin-left: 5rem;
}