
.App{
  margin: 0 ;
  align-items: center;
  justify-content: center;
}


.table{
  text-align: left;
  margin: 5rem ;
  background-color: rgb(234, 201, 255);
  padding: 10px;
  box-shadow: 0 0 10px black;
  width: 90%;
}
.table tr,th,td{
  border: 1px solid black;
  padding: 10px;

}
.pagination{
  width: 30%;
  display: flex;
  
  margin: 0 0 3rem 32rem;
  padding: 10px;
  background-color: rgb(248, 241, 254);
  box-shadow: 0 0 10px rgb(143, 143, 143);
}
.pagination > span{
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
  
}
.s{
  background-color: rgb(170, 177, 186);
}
input{
  margin-top: 3rem;
  margin-left: 5rem;
  padding: 20px;
  width: 87%;
  background-color: rgb(248, 241, 254);
  box-shadow: 0 0 10px rgb(143, 143, 143);
  border: none;
}
h1{
  text-align: center;
  color: rgb(70, 28, 91);
}
@media only screen and (max-width: 900px) {
  .table{
  width: 80%;
  }
  input {
    width: 70%;
  }
  .pagination{
    margin: 0 0 3rem 12rem;
  }
  
  h1{
    font-size: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .table{
  width: 80%;
  }
  input {
    width: 60%;
  }
  .pagination{
    margin: 0 0 3rem 5rem;
  }
}
@media only screen and (max-width: 400px) {
  .table{
  width: 50%;
  }
  input {
    width: 30%;
  }
  .pagination{
    margin: 0 0 3rem 0;
    display: none;
  }
}